@model HomeViewModel

<title>@ViewData["Title"]Cineasternas startsida</title>

<script language="javascript" type="text/javascript">
    var longPlot = '@Model.MoviesFromOMDB[0].Plot'
    var shortPlot = '@Model.MoviesFromOMDB[0].Longplot';
</script>

<div id="topmovie-banner">
    <h1>Top movie</h1>
</div>
<div id="topmovie">

    <img id="topmovie-image" src="@Model.MoviesFromOMDB[0].Poster">
        <div id="topmovie-plot">
            <a href="@Url.Action("FetchTopMovie", "Home", new { title = Model.MoviesFromOMDB[0].Title })">
                <h2 id="topmovie-title-header-text">@Model.MoviesFromOMDB[0].Title</h2><br>
            </a>

            <div id="topmovie-plottext">@Model.MoviesFromOMDB[0].Longplot</div>
            <button id="morelink" style="vertical-align:middle">
                <span>More..</span>

            </button>
            <div id="topmovie-actors">
                <h2 id="topmovie-actors-header-text">Actors</h2>
                <p>
                    @Model.MoviesFromOMDB[0].Actors
                </p>
            </div>
            <p>

            </p>
            <br>
            <h2 id="topmovie-ratings-text">Ratings</h2>
            <p>IMDB: @Model.MoviesFromOMDB[0].Ratings[0].Value</p>
            <p>cMDB Upvotes: @Model.MoviesFromOMDB[0].numberOfLikes </p>
            <p>cMDB Downvotes: @Model.MoviesFromOMDB[0].numberOfDislikes </p>

        </div>
    </div>
    <div id="othermovies-banner">
        <h1>Other movies</h1>
    </div>

    <div id="othermovies">
        @for (int i = 1; i < 4; i++)
        {
        <div id="secondmovie">
            <a href="@Url.Action("FetchTopMovie", "Home", new { title = Model.MoviesFromOMDB[i].Title })">
                <img src="@Model.MoviesFromOMDB[i].Poster">
            </a>
            <a href="@Url.Action("FetchTopMovie", "Home", new { title = Model.MoviesFromOMDB[i].Title })">
                <h1>@Model.MoviesFromOMDB[i].Title</h1>
            </a>
                <p>IMDB: @Model.MoviesFromOMDB[i].Ratings[0].Value </p>
                <p>cMDB Upvotes: @Model.MoviesFromOMDB[i].numberOfLikes </p>
                <p>cMDB Downvotes: @Model.MoviesFromOMDB[i].numberOfDislikes </p>
        </div>
        }  
    </div>
    <script type="text/javascript" src="~/js/site.js"></script>



