@model MovieViewModel

<script language="javascript" type="text/javascript">
    var jsImdbID = '@Model.Movie.imdbID';
</script>

<title>@ViewData["Title"]@Model.Movie.Title</title>


<div id="specificmovie-banner">
    <h1>@Model.Movie.Title</h1>
</div>
<div id="specificmovie-container">
    <div id="image-container"><img src="@Model.Movie.Poster"></div>
    <div id="movie-information">
        <h1>@Model.Movie.Title</h1>
        <p>Length: @Model.Movie.Runtime | Genre: @Model.Movie.Genre</p>
        <br>
        <p id="plottext">@Model.Movie.Plot</p>
        <br>
        <h1>Ratings</h1>
        <br>
        <p id="IMDbtext">IMDb:</p><p id="IMDBvalue">@Model.Movie.Ratings[0].Value</p>
        <p id="cMDBtextlikes">cMDB Upvotes:</p><p id="cMDBvalueup">@Model.Movie.numberOfLikes</p>
        <p id="cMDBtextdislikes">cMDB Downvotes:</p><p id="cMDBvaluedown">@Model.Movie.numberOfDislikes</p>




        <button id="upvoteButton">Gilla</button> <button id="downvoteButton">Ogilla</button>
    </div>
    <div id="movie-information2">
        <h1>Stars</h1>
        <p>@Model.Movie.Actors</p>
        <br>
        <h1>Director</h1>
        <p>@Model.Movie.Director</p>
        <br>
        <h1>Writers</h1>
        <p>@Model.Movie.Writer</p>
    </div>


</div>	