@model MovieViewModel

<title>@ViewData["Title"]Insert titel här när du fattar hur man gör</title>


<div id="specificmovie-banner">
    <h1>@Model.Movie.Title</h1>
</div>
<div id="specificmovie-container">
    <div id="image-container"><img src="@Model.Movie.Poster"></div>
    <div id="movie-information">
        <h1>@Model.Movie.Title</h1>
        <p>Length: @Model.Movie.Runtime | Genre: @Model.Movie.Genre</p>
        <br>
        <p id="plottext">@Model.Movie.Plot</p>
        <br>
        <h1>Ratings</h1>
        <br>
        <p id="IMDbtext">IMDb: @Model.Movie.Ratings[0].Value</p>
        <p id="cMDBtext">cMDB: {cMDBScore}</p>
    </div>
    <div id="movie-information2">
        <h1>Stars</h1>
        <p>@Model.Movie.Actors</p>
        <br>
        <h1>Director</h1>
        <p>@Model.Movie.Director</p>
        <br>
        <h1>Writers</h1>
        <p>@Model.Movie.Writer</p>
    </div>


</div>	